.option h2 {  background-image: url(images/sprite.png); background-color: transparent; background-repeat: no-repeat; }
#back-back-darts  h2 {  width: 95px; height: 95px; background-position: 0 -768px; }
#back-box-pleats  h2 {  width: 95px; height: 95px; background-position: -96px -768px; }
#back-no-pleats  h2 {  width: 95px; height: 95px; background-position: -96px -864px; }
#back-side-pleats  h2 {  width: 95px; height: 95px; background-position: -288px -96px; }
#bottom-cut-classic  h2 {  width: 95px; height: 95px; background-position: 0 -672px; }
#bottom-cut-modern  h2 {  width: 95px; height: 95px; background-position: -192px -192px; }
#bottom-cut-straight  h2 {  width: 95px; height: 95px; background-position: -96px -960px; }
#buttons-double-button-placket  h2 {  width: 95px; height: 95px; background-position: -192px -1056px; }
#buttons-single-button-placket  h2 {  width: 95px; height: 95px; background-position: -192px -96px; }
#collar-bandhgala  h2 {  width: 95px; height: 95px; background-position: -288px 0; }
#collar-club  h2 {  width: 95px; height: 95px; background-position: -288px -960px; }
#collar-double-collar  h2 {  width: 95px; height: 95px; background-position: 0 -384px; }
#collar-evil-pandit  h2 {  width: 95px; height: 95px; background-position: -288px -192px; }
#collar-height-high  h2 {  width: 95px; height: 95px; background-position: 0 -1056px; }
#collar-height-normal  h2 {  width: 95px; height: 95px; background-position: -96px -192px; }
#collar-hipster-rounded  h2 {  width: 95px; height: 95px; background-position: 0 0; }
#collar-ozwald-boateng  h2 {  width: 95px; height: 95px; background-position: 0 -480px; }
#collar-prince-charlie  h2 {  width: 95px; height: 95px; background-position: -288px -672px; }
#collar-the-hipster  h2 {  width: 95px; height: 95px; background-position: -192px -864px; }
#collar-the-madmen  h2 {  width: 95px; height: 95px; background-position: -288px -576px; }
#collar-the-polo  h2 {  width: 95px; height: 95px; background-position: -192px -672px; }
#collar-the-prepster  h2 {  width: 95px; height: 95px; background-position: 0 -960px; }
#collar-the-spread  h2 {  width: 95px; height: 95px; background-position: -96px -288px; }
#collar-wing-collar  h2 {  width: 95px; height: 95px; background-position: -288px -480px; }
#contrasts-button-placket  h2 {  width: 95px; height: 95px; background-position: -192px -1152px; }
#contrasts-collar-inside  h2 {  width: 95px; height: 95px; background-position: -96px -576px; }
#contrasts-collar-outside  h2 {  width: 95px; height: 95px; background-position: 0 -864px; }
#contrasts-cuff-inside  h2 {  width: 95px; height: 95px; background-position: -288px -1056px; }
#contrasts-cuff-outside  h2 {  width: 95px; height: 95px; background-position: -96px -672px; }
#contrasts-cuff-button-placket  h2 {  width: 95px; height: 95px; background-position: -288px -1152px; }
#contrasts-collar-piping-full  h2 {  width: 95px; height: 95px; background-position: -96px -1248px; }
#contrasts-pocket-full  h2 {  width: 95px; height: 95px; background-position: -192px -1248px; }
#contrasts-placket-piping-button  h2 {  width: 95px; height: 95px; background-position: 0 -1248px; }
#contrasts-placket-piping-outside  h2 {  width: 95px; height: 95px; background-position: -288px -1248px; }
#contrasts-inside-placket  h2 {  width: 95px; height: 95px; background-position: 0 -576px; }
#contrasts-outside-placket  h2 {  width: 95px; height: 95px; background-position: -96px -480px; }
#cuff-double-bond  h2 {  width: 95px; height: 95px; background-position: -192px -288px; }
#cuff-single-convertible  h2 {  width: 95px; height: 95px; background-position: -96px -1056px; }
#cuff-the-french  h2 {  width: 95px; height: 95px; background-position: -192px -768px; }
#cuff-the-neopolitan  h2 {  width: 95px; height: 95px; background-position: -288px -768px; }
#extras-elbow-patch  h2 {  width: 95px; height: 95px; background-position: -288px -288px; }
#extras-shoulder-epaulettes  h2 {  width: 95px; height: 95px; background-position: 0 -96px; }
#monogram-below-pocket  h2 {  width: 95px; height: 95px; background-position: -96px -96px; }
#monogram-inside-collar  h2 {  width: 95px; height: 95px; background-position: -96px -384px; }
#monogram-left-cuff  h2 {  width: 95px; height: 95px; background-position: -192px -960px; }
#monogram-pocket  h2 {  width: 95px; height: 95px; background-position: -192px -576px; }
#placket-french-front h2 {  width: 95px; height: 95px; background-position: -96px 0; }
#placket-concealed  h2 {  width: 95px; height: 95px; background-position: -192px -384px; }
#placket-kurta  h2 {  width: 95px; height: 95px; background-position: -96px -1152px; }
#placket-regular  h2 {  width: 95px; height: 95px; background-position: -192px 0; }
#pocket-angled  h2 {  width: 95px; height: 95px; background-position: -288px -864px; }
#pocket-flap-pocket  h2 {  width: 95px; height: 95px; background-position: 0 -1152px; }
#pocket-v-shaped-pocket  h2 {  width: 95px; height: 95px; background-position: 0 -192px; }
#sleeve-long  h2 {  width: 95px; height: 95px; background-position: -192px -480px; }
#sleeve-roll-up  h2 {  width: 95px; height: 95px; background-position: 0 -288px; }
#sleeve-short  h2 {  width: 95px; height: 95px; background-position: -288px -384px; }
#contrasts-placket-piping-inside  h2 {  width: 95px; height: 95px; background-position: 0 -1344px; }
#collar-hbd-collar  h2 {  width: 95px; height: 95px; background-position: -96px -1344px; }
#placket-pencil  h2 {  width: 95px; height: 95px; background-position: -192px -1344px; }